*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mul: 0.5;
    
}

body{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    color: #ffffff;
    font-family: 'Fredoka', sans-serif;
    min-height: 100vh ;
    
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;    
    outline: none;
    
}


form button{
    color: #d57eeb;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background-color: #d57eeb;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin:0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn, .edit-btn{
    background: #ff0e0eb7;
    color:white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: rgba(32, 245, 32, 0.685);
}

.edit-btn{
    background: rgba(75, 213, 255, 0.555);
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check, .fa-pen-to-square{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    height: 100%;

}

select{
    color: #d57eeb;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: '\25BC';
    position: absolute;
    background: #d57eeb;
    top: 0;
    right:0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #d57eeb;
}

.todo-edit-save{
    display: none;
}

.footer-heart{
    position: fixed;
    font-family: open sans, sans-serif;
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;  
    background-color: rgba(0, 0, 0, 0.137)
}

.footer-heart p{
    padding: 5px;
}

@media only screen and (max-width:786px) {
    .todo-input{
        width: 45vw;
    }

    .select{
        width: 25vw;
    }

    .footer-heart{
        font-size: 13px;
    }

}